body{
    background: gray;
    border-radius: 10px;
    margin-left: 20%;
    margin-right:20%;
    margin-top:0;
    text-align: justify;
}

img{
    float: left;
    width:200px;
    height:100px;
}
h1{

    bottom: 70px;/* отступ снизу */
    left: 300px;/*отступ слева  */
}



/* общие стили для классов: */
.top,
.paragraph,
.foot,
.web,
.html,
.css,
.js,
.calcul,
.test,
.wrapper{
    background-color: white;/* фон блоков */
    border-radius: 10px;/* закругленные углы */
    margin-top: 0; /* убираем пробелы между абзацами */
    margin-bottom: 0; /* убираем пробелы между абзацами */
    padding: 4px; /*внутренний отступ  */
    min-width:800px;
    max-width: 800px;
    margin-left: auto;/*вненший отступ с лева   */
	margin-right: auto;/*внешний отступ с права */
	border-color: white;
	line-height: 1em;
    text-align: justify;/*выравнивание по центру */
}

/* класс страницы index.html */
.paragraph{
	line-height: 1em;
	margin-top: 0; /* убираем пробелы между абзацами */
    margin-bottom: 0; /* убираем пробелы между абзацами */
}

.web {
	line-height: 1em;
	margin-top: 0; /* убираем пробелы между абзацами */
    margin-bottom: 0; /* убираем пробелы между абзацами */
	padding: 4px; /*внутренний отступ  */
}

/* класс нижнего блока(нижний колонтитул) сайта  */
.foot{
    text-align: center;/*выравнивание текста поцентру   */
}
/*********** стили для калькулятора*************/
.calcul table {
     display: table;/* Определяет, что элемент является блочной таблицей */
     margin: 0 auto;/*внешний отступ */
     clear: both;/*Отменяет обтекание элемента одновременно с правого и левого края*/
}

.calcul input{
    text-align: center;/* выравнивание цифт   */
    width: 60px;/* ширина кнопок   */
    height: 25px;/*высота кнопок    */
}
/* стиль для понели ввода цифр   */
.calcul table .text input{
    width: 315px;/* ширина кнопок   */
    text-align: right;/* вводим текст с права  */
	height: 25px;
}
/*  стиль для кнопки "="  */
.calcul table .ravno input {
    height: 55px;/* высота кнопки */
}
/* стиль для кнопки "0"   */
.calcul table .zero input {
    width: 125px;/* ширина кнопки */
}


/* класс страницы HTML5.html */
.html{
    text-align: justify;/* выравнивание текста на всю ширину блока */
    font-size: 16px;/*размер шрифта*/
    padding: 5px;/*Внутренний отступ*/
}

/* класс страницы HTML5.html */
.add {
    font-size: 12px;/*размер шрифта*/
    float: right; /* Обтекание врезки по правому краю */
    width: 200px; /* Ширина врезки */
    background: #A9A9A9; /* Цвет фона */
    margin: 5px; /* Отступы вокруг рисунка */
    text-align: justify;/* выравнивание текста на всю ширину блока*/
	border-radius: 10px;/* закругленные углы */
    padding: 5px;
}


/* меню*/
.menu{

    padding-top: 20px;

}

.menu ul  li{
    position:relative;/* относительно его исходного места*/
    display:inline-table;


}

.menu li a{
    border-bottom: none;
    
}

.menu li ul{
    display: none;
	border: 1px solid black;
	position: absolute;
    background-color: white;
    padding: 5px;
    width: 70px;
    height: 50px;
	border-radius: 1px;


}
.menu li:hover ul{
    display: block;
	border-radius: 10px;
	
}